.bannerContainer {
	background-image: url(../../Assets/mvp-banner.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	max-width: 1920px;
	width: 100%;
	height: 60vw;
	margin-top: -70px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 120px;
	align-items: center;
	text-align: center;
}

.bannerTitle {
	color: white;
	font-family: "Quattrocento", serif;
	font-weight: bolder;
	letter-spacing: -2px;
	margin-bottom: 20px;
}
.bannerOrn {
	color: #fdc913;
	font-family: "Satisfy", cursive;
	font-weight: lighter;
	font-size: 14px;
}

.bannerSubTitle {
	color: white;
	font-family: "Quattrocento", serif;
	font-weight: lighter;
	font-size: 32px;
	letter-spacing: -2px;
	margin-bottom: 20px;
}

.bannerLink {
	text-decoration: none;
	background-color: #fdc913;
	padding: 5px 20px;
	border-radius: 10px;
	font-size: 14px;
}

.bannerLink:hover {
	background-color: #faf7f2;
	color: #ce2829;
}
/* -----NAVBAR ----- */

.navbarContainer {
	display: flex;
	margin: 10px 120px;
	justify-content: space-around;
}

.navDiv {
	padding: 10px;
	align-items: center;
	display: flex;
	gap: 9px;
}

/* .navDiv{
	padding: 10px;
	border-radius: 20px;
	width: 170px;
	border: 0px;
	background-color: white;
} */

/*------ MENU----- */

.cardContainer {
	padding: 100px 100px 10px 100px;
	display: flex;
	background-color: #faf7f2;
	justify-content: center;
	height: 40vw;
	gap: 20px;
}

.card1 {
	width: 40%;
	background-image: url(../../Assets/esnek/kart-1.png);
	background-size: cover;
	background-position: center;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	color: white;
	justify-content: flex-start;
}

.card1 h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

.cardButton {
	width: 120px;
	margin-top: 40px;
	padding: 15px 10px;
	border-radius: 20px;
	border: none;
	font-size: 10px;
	font-weight: bolder;
}

.orderLink {
	margin-top: 30px;
	color: #ce2829;
	text-decoration: none;
}

.cards {
	width: 55%;
	display: flex;
	flex-direction: column;
}

.card2 {
	background-image: url(../../Assets/esnek/kart-2.png);
	color: white;
	padding: 20px;
	border-radius: 20px;
	height: 20vw;
	padding: 10px auto;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-size: cover;
}

.card3 {
	margin-top: 20px;
	background-image: url(../../Assets/esnek/kart-3.png);
	padding: 20px;
	border-radius: 20px;
	height: 20vw;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 50px;
}

.card3 span {
	color: #ce2829;
}

/* ----FOOD ---- */

.foodContainer {
	padding: 70px 100px 10px 100px;
	display: flex;
	background-color: #faf7f2;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.foodContainer span {
	font-family: "Satisfy", cursive;
	color: #ce2829;
	margin: 20px auto;
}

.foodContainer h2 {
	font-weight: 500;
	margin-bottom: 10px;
}

.foodButton {
	margin: 40px 120px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.navButton {
	background-color: white;
	width: 145px;
	border-radius: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: none;
	padding-left: 10px;
}

.navButton .itemTitle {
	font-family: "Quattrocento", serif;
	color: black;
	font-size: 16px;
}

.navButton:hover,
.navButton:hover .itemTitle {
	background-color: black;
	color: white;
	font-weight: bolder;
	overflow: hidden;
}

/* .navButton .itemTitle:hover {
	color: white;
	background-color: black;
} */

.foodCardContainer {
	padding: 60px;
	background-color: #faf7f2;
}

.foodCard {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.foodCardImg {
	width: 90%;
}
.foodCardButton {
	width: 24%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: none;
	border-radius: 15px;
	padding: 20px;
	text-decoration: none;
	color: black;
	transition: transform 0.2s ease-in-out;
}
.foodCardButton:hover {
	color: #ce2829;

	transform: translateY(-5px);
}

.foodCardText {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	margin-top: 20px;
}
.foodCardTitle {
	font-size: 14px;
	padding-bottom: 10px;
}

.foodCardInfo {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.foodCardInfo span {
	font-weight: lighter;
}

/* ----- FOOTER ---- */

.footerContainer {
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	padding: 40px 120px;
}
.footerContact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.footerContactTitle {
	font-family: "Quattrocento", serif;
	font-size: 32px;
	letter-spacing: -1px;
	margin-bottom: 50px;
}

.footerContact p {
	margin-bottom: 30px;
}
.footerContact p img {
	margin-right: 10px;
}
.footerContainer .adress::before {
	background-image: url("");
}

.footerMenuItems {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 60px;
}

.footerMenuItemTitle {
	margin-bottom: 50px;
	font-weight: bolder;
}

.footerInsta {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 400px;
	align-items: flex-start;
}
.footerInstaImg {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 40px;
}
